imagecodecs==2022.2.22
ipywidgets==8.0.2
jupyterlab==3.4.2
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
plotly==5.8.0
tifffile==2022.5.4
torch==2.0.0
torchvision==0.15.1
hydra-core==1.1.2
wandb==0.12.17
numpy-quaternion>=2021.11.4.15.26.3
click>=8.0
pillow
scipy==1.10.1
imageio==2.9.0
imageio-ffmpeg==0.4.3
ninja==1.10.2
prettytable==3.5.0
gdown==4.6.0
fvcore==0.1.5.post20221221
lovely-tensors==0.1.14
plyfile==0.9
scikit-image==0.20.0 
scikit-video==1.1.11 
opencv-python==4.7.0.72 
cmapy==0.6.6
pyspng
psutil
mrcfile
tensorboard
moviepy
kornia 